<div class="form-search">
  <form [formGroup]="searchForm" class="form-inline">
      <div class="form-group mb-12">
        <select class="form-control form-control-md" id="environment" formControlName="environment" >
          <option value="">Ambiente</option>
          <option value="prod">Produção</option>
          <option value="homol">Homologação</option>
          <option value="des">Desenvolvimento</option>
        </select>
        <select class="form-control form-control-md" id="level" formControlName="level">
          <option value="">Nivel</option>
          <option value="warning">Warning</option>
          <option value="error">Error</option>
          <option value="info">Info</option>
        </select>
        <select class="form-control form-control-md" id="event" formControlName="event">
          <option value="">Evento</option>
          <option value="create">Create</option>
          <option value="update">Update</option>
          <option value="read">Read</option>
          <option value="delete">Delete</option>
        </select>
        <input type="text" title= "Ao digitar um termo os filtros são ignorados" class="form-control form-control-md" id="details" placeholder="Digite um termo de busca" formControlName="details">
        <button type="button" class="btn btn-info"  (click)="onSubmit()">Pesquisar</button>
      </div>
    </form>
</div>
<div class="table-responsive">
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th title = "clique para ordenar" class="grab" (click)="dataSort('level')">Nível
        <span *ngIf="key =='level'">{{reverse ? '▲' : '▼'}}</span>
      </th>
      <th title = "clique para ordenar" class="grab" (click)="dataSort('event')">Evento
        <span *ngIf="key =='event'">{{reverse ? '▲' : '▼'}}</span>
      </th>
      <th title = "clique para ordenar" class="grab" (click)="dataSort('createdDate')">Data
      <span *ngIf="key =='createdDate'">{{reverse ? '▲' : '▼'}}</span>
    </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let error of errors | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize | orderBy: key : reverse; let i = index">
      <td><a [routerLink]="['/details/', error.id]">{{error.level}}</a></td>
      <td>{{error.event}}</td>
      <td>{{error.createdDate | date:  "dd/MM/y"}}</td>
      <td><img src="../assets/archive.png" title = "arquivar" (click)="toFile(error.id)" class= "grab"></td>
    </tr>
    <tr *ngIf="errors.length == 0">
      <td colspan="4">Não há registros</td>
    </tr>
  </tbody>
</table>
</div>
<nav aria-label="Pagination">
<ngb-pagination class="d-flex justify-content-end" [collectionSize]="errors.length" [(page)]="page"></ngb-pagination>
</nav>